In [34]:
import pandas as pd

In [35]:
btc = pd.read_csv('/Users/brunogama/Desktop/Final_Project/BTC_sentiment_analysis.csv')
btc

   Unnamed: 0 Name  Positive  Neutral  Negative
0           0  BTC        17       51         5

In [36]:
btc.drop('Unnamed: 0', axis=1, inplace=True)

In [37]:
btc

  Name  Positive  Neutral  Negative
0  BTC        17       51         5

In [38]:
ada = pd.read_csv('ADA_sentiment_analysis.csv')
ada

   Unnamed: 0 Name  Positive  Neutral  Negative
0           0  ADA        19       78         3

In [39]:
ada.drop('Unnamed: 0', axis=1, inplace=True)

In [40]:
ada

  Name  Positive  Neutral  Negative
0  ADA        19       78         3

In [41]:
eth = pd.read_csv('/Users/brunogama/Desktop/Final_Project/ETH_sentiment_analysis.csv')
eth

   Unnamed: 0 Name  Positive  Neutral  Negative
0           0  ETH        20       54         8

In [42]:
eth.drop('Unnamed: 0', axis=1, inplace=True)

In [43]:
eth

  Name  Positive  Neutral  Negative
0  ETH        20       54         8

In [44]:
dgc = pd.read_csv('/Users/brunogama/Desktop/Final_Project/DGC_sentiment_analysis.csv')
dgc

   Unnamed: 0 Name  Positive  Neutral  Negative
0           0  DGC        24       63         6

In [45]:
dgc.drop('Unnamed: 0', axis=1, inplace=True)

In [46]:
dgc

  Name  Positive  Neutral  Negative
0  DGC        24       63         6

In [57]:
all_sentiment = pd.concat([btc, eth, ada, dgc], axis=0)
all_sentiment

  Name  Positive  Neutral  Negative
0  BTC        17       51         5
0  ETH        20       54         8
0  ADA        19       78         3
0  DGC        24       63         6

In [58]:
all_sentiment

  Name  Positive  Neutral  Negative
0  BTC        17       51         5
0  ETH        20       54         8
0  ADA        19       78         3
0  DGC        24       63         6

In [59]:
all_sentiment.to_csv('all_sentiments.csv')