In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
api_call1 = yf.Ticker('BTC-USD').history(period='60mo')
api_call1

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-06-08,2720.489990,2815.300049,2670.949951,2805.620117,1281170048,0,0
2017-06-09,2807.439941,2901.709961,2795.620117,2823.810059,1348950016,0,0
2017-06-10,2828.139893,2950.989990,2746.550049,2947.709961,2018889984,0,0
2017-06-11,2942.409912,2996.600098,2840.530029,2958.110107,1752400000,0,0
2017-06-12,2953.219971,2997.260010,2518.560059,2659.629883,2569530112,0,0
...,...,...,...,...,...,...,...
2022-06-04,29706.138672,29930.564453,29500.005859,29832.914062,16588370958,0,0
2022-06-05,29835.117188,30117.744141,29574.449219,29906.662109,17264085441,0,0
2022-06-06,29910.283203,31693.291016,29894.187500,31370.671875,31947336829,0,0
2022-06-07,31371.742188,31489.683594,29311.683594,31155.478516,40770974039,0,0
2022-06-08,31136.613281,31253.691406,29956.439453,30417.130859,41466236928,0,0