In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns

In [11]:
# Set Variables

start = datetime(2017, 1, 1)

# End

end = datetime.now().date().isoformat()   # today

symbol = ['ETH-USD', 'BTC-USD', 'ADA-USD']

In [19]:
# Download the price data into Pandas DF
emp = pd.DataFrame()

for i in symbol:
    df = yf.download(i, start=start, end=end)
    df['name'] = i
    emp = emp.append(df, ignore_index=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [20]:
emp

,Open,High,Low,Close,Adj Close,Volume,name
0,308.644989,329.451996,307.056000,320.884003,320.884003,893249984,ETH-USD
1,320.670990,324.717987,294.541992,299.252991,299.252991,885985984,ETH-USD
2,298.585999,319.453003,298.191986,314.681000,314.681000,842300992,ETH-USD
3,314.690002,319.153015,298.513000,307.907990,307.907990,1613479936,ETH-USD
4,307.024994,328.415009,307.024994,316.716003,316.716003,1041889984,ETH-USD
...,...,...,...,...,...,...,...
5320,0.552636,0.595811,0.550444,0.587795,0.587795,1257661647,ADA-USD
5321,0.587836,0.603290,0.541486,0.559658,0.559658,910186327,ADA-USD
5322,0.559957,0.570570,0.548088,0.566069,0.566069,559861766,ADA-USD
5323,0.566091,0.579553,0.556398,0.567090,0.567090,478128224,ADA-USD
5324,0.567207,0.643452,0.566608,0.609328,0.609328,1417826128,ADA-USD

In [22]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,name
Date,,,,,,,
2017-11-09,0.025160,0.035060,0.025006,0.032053,0.032053,18716200,ADA-USD
2017-11-10,0.032219,0.033348,0.026451,0.027119,0.027119,6766780,ADA-USD
2017-11-11,0.026891,0.029659,0.025684,0.027437,0.027437,5532220,ADA-USD
2017-11-12,0.027480,0.027952,0.022591,0.023977,0.023977,7280250,ADA-USD
2017-11-13,0.024364,0.026300,0.023495,0.025808,0.025808,4419440,ADA-USD